body {
  margin: 0;
  height: 100vh;
  background: rgb(29, 29, 29);
  transition: background-color 2s ease;
}

#progress {
  height: 1px;
  background: rgb(126, 126, 126);
  position: absolute;
  top: 45%;
  opacity: 1;
  z-index: 2;
  transition: width 0.1s ease;
}

#gallery {
  opacity: 0;
  display: grid;
  width: 100%;
  grid-template-columns: repeat(2, 25%);
  grid-gap: 5em;
  height: 100vh;
  justify-content: center;
  align-content: center;
  transform: scale(0.8);
}

img {
  width: 100%;
  cursor: pointer;
}

.fadeIn {
  transform: scale(1) !important;
  opacity: 1 !important;
  transition: all 1s 1.15s;
}

.fadeOut {
  transform: scale(1) !important;
  transition: opacity 2s !important;
}
